body {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.fixed-width-textarea {
    max-width: 280px;
}

.footer-text {
    color: whitesmoke;
    text-align: center;
    padding-top: 5px;
}

.no-registration-text {
    text-align: center;
}

.no-items-found {
    text-align: center;
    color: gray;
    font-weight: bold;
    padding-top: 25px;
}

.description-input-box {
    width: 94%;
    height: 220px;
}

.textarea-computer-names {
    width: 100%;
    height: 250px;
}

.error-text {
    color: red;
}

.exception-details-textarea {
    width: 380px;
    height: 200px;
    font-size: 12px;
}

.form-text {
    /* Same as HTML Helper label */
    font-size: 12px;
    display: inline-block;
    font-weight: normal;
    max-width: 100%;
    margin-bottom: 5px;
}

.form-text-light {
    color: gray;
    font-size: 12px;
    display: inline-block;
    font-weight: normal;
    max-width: 100%;
    margin-bottom: 5px;
}

/* Overview Well */
.well-online {
    background-color: lightgreen;
    height: 48px;
    margin-top: -15px;
}
.well-offline {
    background-color: lightcoral;
    height: 48px;
    margin-top: -15px;
}
.well-menu-button {
    margin-left: 5px;
}
.well-header-text {
    font-size: 12px;
}

/* Power menu buttons */
.power-menu-info {
    background: lightskyblue;
}
.power-menu-poweron {
    background: lightgreen;
}
.power-menu-poweroff {
    background: lightcoral;
}
.power-menu-reboot {
    background: lightsalmon;
}

/* Login Page */
.loginpage-appname {
    font-size: 30px;
    margin-left: 40px;
}

/* Logo */
.navbar-logo {
    margin-top: 9px;
}

/* ListView */
.well-listview {
    margin-left: 12px;
    margin-right: 22px;
    margin-top: 1px;
    margin-bottom: -15px;
}

.listview-menu-button {
    margin-top: -2px;
    margin-bottom: -3px;
    margin-right: -6px;
}

.tablerow-online {
    background-color: lightgreen;
}
.tablerow-offline {
    background-color: lightcoral;
}

/* Scheduler */
.label-xs {
    padding-left: 4px;
    padding-right: 4px;
}

/* Computer Search */
.computer-search-box {
    height: 30px;
}

.computer-search-btn {
    height: 30px;
    margin-bottom: 3px;
}