
@{
    ViewBag.Title = "No Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="no-registration-text">
    <h2>Not Allowed</h2>

    <p class="">
        Registration is disabled on this site.<br />
        Please contact administrator.
    </p>
</div>