
@{
    ViewBag.Title = "No Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Not Allowed</h2>

<p>
    Registration is disabled on this site.<br />
    Please contact administrator.
</p>