@using CMRPS.Web.Models
@model CMRPS.Web.ModelsView.IndexComputerViewModels

@{
    ViewBag.Title = "Computers";
}

<h2>Computers</h2>

<hr />
<h4>Actions</h4>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-xs btn-success" onclick="location.href = '@Url.Action("Create", "Computer")'">Create</button>
        <button class="btn btn-xs btn-success" onclick="location.href='@Url.Action("CreateMultiple", "Computer")'">Create Multiple</button>
        <button class="btn btn-xs btn-warning">Import</button>
        <button class="btn btn-xs btn-info">Export Selected</button>
        <button class="btn btn-xs btn-danger">Delete Selected</button>
    </div>
    <div class="col-md-4">
        <input type="text" style="height: 30px;" placeholder="Search..."/>
        <button class="btn btn-xs btn-info">Go</button>
    </div>
</div>
<br/>
@if (Model.Computers.Count == 0)
{
    <div class="no-items-found">Sorry no computers found!</div>
}
else
{
    @Html.Partial("_PartialIndexList", Model.Computers)
}

