@using System.Security.Claims
@{
    ViewBag.Title = "Home Page";
}

@{
    var name = "Anonymous";
    if (User.Identity.IsAuthenticated)
    {
        name = ((ClaimsIdentity)User.Identity).FindFirst("FirstName").Value;
    }
}

<div class="jumbotron">
    <h1>CMRPS</h1>
    <p class="lead">
        Welcome <b>@name</b>, to Computer Manager and Remote Power System.
    </p>
    <p></p>
</div>

<h4>Note: Demo data only here yet!</h4>
<div class="row">
    <div class="col-md-4">
        <h2>Devices</h2>
        <p>Total Devices: 0</p>
        <p style="color: green;">Online Devices: 0 | 0%</p>
        <p style="color: red;">Offline Devices: 0 | 0%</p>
    </div>

    <div class="col-md-4">
        <h2>Events</h2>
        <p>
            <span class="label label-danger">30/6/2016 14:54</span> <br /> Error Message
        </p>
        <p>
            <span class="label label-warning">30/6/2016 14:54</span> <br /> Warning Message
        </p>
        <p>
            <span class="label label-info">30/6/2016 14:54</span> <br /> Info Message
        </p>
        <p>
            <span class="label label-success">30/6/2016 14:54</span> <br /> Success Message
        </p>
    </div>

    <div class="col-md-4">
        <h2>Logins</h2>
        <p><span class="label label-success">30/6/2016 14:54</span> NS</p>
        <p><span class="label label-danger">30/6/2016 14:53</span> NS</p>
    </div>
</div>