@model CMRPS.Web.ModelsView.HomeIndexViewModels
@using System.Security.Claims
@using CMRPS.Web.Enums
@{
    ViewBag.Title = "Home Page";
}

@{
    var name = "Anonymous";
    if (User.Identity.IsAuthenticated)
    {
        name = ((ClaimsIdentity)User.Identity).FindFirst("FirstName").Value;
    }
}

<div class="jumbotron">
    <h1>CMRPS</h1>
    <p class="lead">
        Welcome <b>@name</b>, to Computer Manager and Remote Power System.
    </p>
    <p></p>
</div>

<span id="homeContent">
    @Html.Partial("_HomeContent", Model)
</span>

<script>
    $(document).ready(srUpdateHome());
</script>